h1 {
    text-align: center;
}

main {
    display: inline-block;
}

li {
    display: grid;
    grid-template-columns: var(--image-width) auto;
    margin: 24px 0;
}

.checkout * {
    margin: 10px;
    padding: 5px;
    font-size: large;
}

.checkout h1 {
    font-size: xx-large;
}

.remove {
    background-color: rgb(194, 46, 46) !important;
}

.remove:hover {
    background-color: rgb(255, 0, 0) !important;
    transition: .2s;
}

.empty-cart {
    text-align: center;
    margin-top: 3rem;
    font-size: small;
}

@media (max-width: 600px) {
    li {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    li:after {
        content: "";
        display: block;
        border-top: 2px dashed #000;
        margin-top: 10px;
        padding-top: 1rem;
    }
}
