
.section {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.product_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--image-width), 1fr));
    gap: 1em;
    padding: 10px;
}

.product-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-card a {
    text-decoration: none;
    color: black;
    max-width: var(--image-width);
}

.product_cards img {
    width: var(--image-width);
}

.back {
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: var(--header-color);
    border: none;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
}
