main {
/*
    border: 2px solid black;
    border-radius: 5px;
*/
    margin: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: var(--image-width) auto;
}

.image img {
    max-width: var(--image-width);
    min-height: var(--min-image-height);
    max-height: 100%;
}

.information {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.information form {
    height: 32px;
}

.bottom {
    margin-top: auto;
    margin-bottom: 1rem;
}

.information input[type="number"] {
    min-height: 100%;
    width: 10%;
    min-width: 40px;
    max-width: 100px;
}
.information input[type="submit"] {
    min-height: 100%;
    padding: 0 4px;
}

.information ul {
    margin-left: 1rem;
}

.information * {
    padding: 2px 0;
}

.description {
    margin: 10px 4px;
}

.information a, .bottom form input[type="submit"] {
    border: 2px solid black;
    border-radius: 7px;
    background-color: black;
    color: white;
    font-size: medium;
    padding: 7px;
    transition: .4s;
    cursor: pointer;
    text-decoration: none;
}

.information a:hover, .bottom form input[type="submit"]:hover {
    background-color: rgb(119, 102, 102);
    transition: .2s;
}

@media (max-width: 600px) {
    main {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .image {
        display: flex;
        justify-content: center;
    }
}
